:root {
    --back: #232323;
    --accent: #91BC35;
    --white: #FFFFFF;
    --rounded: 20px;
    --xrounded: 40px;
    --gray: #919191;
    --gray-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

body {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: 76rem;
    height: 5rem;
    border-radius: var(--rounded);
    margin: 1rem auto 0 auto;
    background-color: var(--back);
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-sizing: border-box;
    padding: 0 2.3rem;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 99;
}

header nav {
    width: 100%;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

section {
    margin: 6.5rem auto;
}

.intro {
    width: 76rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 10rem auto 6.5rem auto;
    padding: 0;
}

.intro-text {
    width: 50%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.intro-img {
    width: 50rem;
    padding-left: -6rem;
}

.intro-form-wrap {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.intro-form {
    height: 35rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: var(--xrounded);
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    padding: 2rem;
}

.intro-range-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: var(--gray);
    font-size: 1rem;
    line-height: 200%;
    position: relative;
    text-align: center;
    font-weight: 700;
    row-gap: 0;
}

.info-range {
    width: calc(100% - 2px);
    height: 6px;
    background-color: var(--back);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 20px;
}

.intro-form button {
    width: 50%;
    padding: 1.2rem 2rem;
    background-color: var(--accent);
    color: var(--white);
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    overflow: hidden;
    margin: 0 auto;
}

.key-value {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.info-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--white);
    -webkit-box-shadow: inset 0 0 0 3px var(--accent);
    box-shadow: inset 0 0 0 3px var(--accent);
    cursor: pointer;
}

.info-range-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: var(--accent);
    font-size: 0.8rem;
    position: relative;
    font-weight: 500;
    row-gap: 0;
}

.m-0 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.leading-09 {
    line-height: 90%;
}

.leading-13 {
    line-height: 130%;
}

.text-xl {
    font-size: 4.4rem;
}

.text-md {
    font-size: 1.6rem;
}

.text-lg {
    font-size: 2.4rem;
}

.bold {
    font-weight: 700;
}

.exbold {
    font-weight: 900;
}

.text-green {
    font-weight: 700;
    color: var(--accent);
}

.text-gray {
    font-weight: 700;
    color: var(--back);
}

.form-request {
    width: 68rem;
    height: 100%;
    background-color: var(--back);
    border-radius: var(--rounded);
    padding: 4rem;
}

.request {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.form-request div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 0.5rem;
    position: relative;
}

.base-label {
    color: var(--accent);
    font-weight: 700;
    font-size: 1.6rem;
}

.base-input {
    border-radius: 20px;
    padding: 1.2rem 1rem;
    font-weight: 550;
    color: var(--back);
    font-family: "Montserrat", sans-serif;
    border: none;
}

.input-wrapper {
    border-radius: 20px;
    background-color: var(--white);
    padding: 1.5rem;
    position: relative;
}

.input-wrapper .request-range {
    width: calc(100% - 2px);
    height: 2px;
    background-color: var(--accent);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-wrapper .request-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--accent);
    cursor: pointer;
}

.input-range-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: var(--accent);
    font-size: 0.8rem;
    position: relative;
    font-weight: 500;
    row-gap: 0;
}

.white-bold {
    font-size: 1.2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
}

.form-agreement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column-span: 3;
    grid-column: span 3 / span 3;
    -webkit-column-gap: 1.4rem;
    -moz-column-gap: 1.4rem;
    column-gap: 1.4rem;
    margin-top: 3rem;
}

.form-agree {
    font-size: 1rem;
    color: var(--white);
    font-weight: 550;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Скрываем стандартный чекбокс */
input[type="checkbox"] {
    display: none;
}

/* Создаем квадрат внутри чекбокса */
input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.8rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 5px;
    background-color: var(--white);
}

input[type="checkbox"]:checked+label::before {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--accent);
    -webkit-box-shadow: var(--white) inset 0 0 0 4px;
    box-shadow: var(--white) inset 0 0 0 4px;
}

.form-submit {
    -ms-grid-column: 2;
    grid-column-start: 2;
    padding: 1.2rem 2rem;
    background-color: var(--accent);
    color: var(--white);
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    overflow: hidden;
}

.advantages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem 2rem;
    justify-items: center;
    margin: 2rem auto;
    height: 100%;
    width: 76rem;

}

.advantages div {
    width: 100%;
    height: 13rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    border-radius: var(--rounded);
    position: relative;
    color: var(--back);
    font-weight: 700;
    padding: 2rem;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.advantages div::before {
    position: absolute;
    display: block;
    content: url(../../images/icons/check-round.svg);
    top: 0;
    left: 0;
    -webkit-transform: translate(50%, -45%);
    -ms-transform: translate(50%, -45%);
    transform: translate(50%, -45%);

}

.advantages div:last-child {
    width: 100%;
    -ms-grid-column-span: 4;
    grid-column: span 4 / span 4;
}

.examples {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem 2rem;
    justify-items: center;
    height: 100%;
    width: 76rem;
    text-align: center;
}

.example-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    border-radius: var(--xrounded);
    padding: 2rem 0;
    height: 27rem;
}

.card-title {
    color: var(--accent);
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 0 0;
}

.card-subtitle {
    font-weight: 700;
    color: var(--back);
    font-size: 1.2rem;
    margin: 0 0 0 0;
}

.example-card img {
    width: 80%;
    border-radius: var(--rounded);
}

.card-cost {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--accent);
}

.card-deposit {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0rem 0 0 0;
    color: var(--back);
}

.requirements {
    width: 76rem;
    color: var(--back);
}

.requirements-title {
    font-size: 2.4rem;
    font-weight: 900;
}

.requirements-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.requirements-container img {
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    z-index: -1;
}

.requirements-info {
    padding-right: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1.5rem;
}

.requirements-info div p {
    font-weight: 700;
    font-size: 1.6rem;
}

.requirements-info div ul li {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    width: 90%;
}

.requirements-info div ul {
    padding-left: 1.6rem;
}

.requirements-conclusion {
    font-size: 1.2rem;
    font-weight: 700;
}

.transport {
    width: 76rem;
}

.transport-title {
    font-size: 2.4rem;
    font-weight: 900;
    padding-bottom: 2rem;
}

.transport-kinds {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
}

.transport-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.transport-card p {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--back);
}

.lead-form {
    width: 68rem;
    height: 100%;
    margin: 6.5rem auto;
    background-color: var(--back);
    border-radius: var(--xrounded);
    padding: 2rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
}

.lead-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    margin: 2rem;
}

.lead-wrapper div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 0.5rem;
    position: relative;
}

.lead-form legend {
    text-align: center;
    font-size: 2.4rem;
    color: var(--accent);
    font-weight: 700;
}

.faq {
    width: 76rem;
    min-height: 50vh;
}

.faq-title {
    color: var(--back);
    font-weight: 700;
    font-size: 2.4rem;
}

.accordion {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1rem;
}

.accordion-item {
    border-radius: var(--rounded);
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.accordion-body {
    display: none;
    padding: 1rem 2rem;
    overflow: hidden;
}

.accordion-title {
    font-weight: 600;
    color: #232323;
    position: relative;
    padding: 1rem;
    border-radius: var(--rounded);
}

.accordion-title:hover {
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    cursor: pointer;
}

.accordion-title::after {
    display: inline-block;
    content: url(../../images/down_fill.svg);
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.accordion-item.acc-slideOut .accordion-body {
    display: flex !important;
}

.accordion-item.acc-slideOut .accordion-title {
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
}

/* Стилизация полосы прокрутки */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    /* Цвет ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--back);
    /* Цвет ползунка при наведении курсора */
}

::-webkit-scrollbar-track {
    background-color: #eee;
    /* Цвет фона полосы прокрутки */
}