:root {
    --back: #232323;
    --accent: #91BC35;
    --white: #FFFFFF;
    --rounded: 20px;
    --xrounded: 40px;
    --gray: #919191;
    --gray-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    --block-width: 75rem;
}

body {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    overflow-x: hidden;
}


header {
    max-width: var(--block-width);
    width: 100%;
    height: 5rem;
    border-radius: var(--rounded);
    margin: 1rem auto 0 auto;
    background-color: var(--back);
    display: flex;
    padding: 0 2.3rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 95;
    box-sizing: border-box;
}

.mobile-header {
    display: none;
}

.login-btn {
    display: none;
}

header nav {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.burger-button {
    display: none;
}

section {
    margin: 6.5rem auto;
}

.intro {
    max-width: var(--block-width);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 10rem auto 6.5rem auto;
    padding: 0;
}

.intro-text {
    width: 50%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.intro-header {
    color: var(--accent);
    font-weight: 900;
    font-size: 4.4rem;
    line-height: 90%;
    margin: 0;
}

.intro-subheader {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--back);
    margin: 0;
}

.intro-img {
    width: 50rem;
    padding-left: -6rem;
}

.intro-form-wrap {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.text-accent {
    color: var(--accent);
}

.intro-form {
    height: 35rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: var(--xrounded);
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    padding: 2rem;
}

.intro-loan-label {
    font-weight: 700;
    color: var(--back);
    font-size: 1.6rem;
    line-height: 130%;
}

.intro-form-legend {
    font-weight: 700;
    color: var(--back);
    font-size: 2.4rem;
    text-align: center;
}

.intro-range-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: var(--gray);
    font-size: 1rem;
    line-height: 200%;
    position: relative;
    text-align: center;
    font-weight: 700;
    row-gap: 0;
}

.info-range {
    width: calc(100% - 2px);
    height: 6px;
    background-color: var(--back);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 20px;
}

.intro-form button {
    width: 50%;
    padding: 1.2rem 2rem;
    background-color: var(--accent);
    color: var(--white);
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    overflow: hidden;
    margin: 0 auto;
}

.key-value {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: inset 0 0 0 3px var(--accent);
    cursor: pointer;
}

.info-range-info {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    color: var(--accent);
    font-size: 0.8rem;
    position: relative;
    font-weight: 500;
    row-gap: 0;
}

.border-none {
    border: none;
}

.m-0 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.leading-09 {
    line-height: 90%;
}

.leading-13 {
    line-height: 130%;
}

.text-xl {
    font-size: 4.4rem;
}

.text-md {
    font-size: 1.6rem;
}

.text-lg {
    font-size: 2.4rem;
}

.bold {
    font-weight: 700;
}

.exbold {
    font-weight: 900;
}

.text-green {
    color: var(--accent);
}

.text-right {
    text-align: right !important;
}

.text-gray {
    font-weight: 700;
    color: var(--back);
}

.form-request {
    max-width: var(--block-width);
    box-sizing: border-box;
    height: 100%;
    background-color: var(--back);
    border-radius: var(--rounded);
    padding: 4rem;
}

.request {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.request-legend {
    display: none;
}

.form-request div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;
    height: 100%;
    position: relative;
}

.base-label {
    color: var(--accent);
    font-weight: 700;
    font-size: 1.6rem;
}

.base-input {
    border-radius: 20px;
    padding: 1.2rem 1rem;
    font-weight: 550;
    color: var(--back);
    font-family: "Montserrat", sans-serif;
    border: none;
}

.input-wrapper {
    border-radius: 20px;
    background-color: var(--white);
    padding: 1.5rem;
    position: relative;
}

.input-wrapper .request-range {
    width: calc(100% - 2px);
    height: 2px;
    background-color: var(--accent);
    appearance: none;
}

.input-wrapper .request-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--accent);
    cursor: pointer;
}

.input-range-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    color: var(--accent);
    font-size: 0.8rem;
    position: relative;
    font-weight: 500;
    row-gap: 0;
}

.white-bold {
    font-size: 1.2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
}

.form-agreement {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    grid-column: span 3 / span 3;
    column-gap: 1.4rem;
    margin-top: 3rem;
}

.form-agree {
    font-size: 1rem;
    color: var(--white);
    font-weight: 550;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

/* Скрываем стандартный чекбокс */
input[type="checkbox"] {
    display: none;
}

/* Создаем квадрат внутри чекбокса */
input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.8rem;
    transition: all 0.3s ease;
    border-radius: 5px;
    background-color: var(--white);
}

input[type="checkbox"]:checked+label::before {
    transition: all 0.3s ease;
    background-color: var(--accent);
    box-shadow: var(--white) inset 0 0 0 4px;
}

.form-submit {
    grid-column-start: 2;
    padding: 1.2rem 2rem;
    background-color: var(--accent);
    color: var(--white);
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    overflow: hidden;
}

.advantages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem 2rem;
    justify-items: center;
    margin: 2rem auto;
    height: 100%;
    max-width: var(--block-width);

}

.advantages div {
    width: 100%;
    height: 13rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    border-radius: var(--rounded);
    position: relative;
    color: var(--back);
    font-weight: 700;
    padding: 2rem;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.advantages div::before {
    position: absolute;
    display: block;
    content: url(../../images/icons/check-round.svg);
    top: 0;
    left: 0;
    -webkit-transform: translate(50%, -45%);
    -ms-transform: translate(50%, -45%);
    transform: translate(50%, -45%);

}

.advantages div:last-child {
    width: 100%;
    -ms-grid-column-span: 4;
    grid-column: span 4 / span 4;
}

.btn {
    width: 100%;
    padding: 1.2rem 2rem;
    background-color: var(--accent);
    color: var(--white);
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    overflow: hidden;
    margin: 0 auto;
}

.examples {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem 2rem;
    justify-items: center;
    height: 100%;
    max-width: var(--block-width);
    text-align: center;
}

.example-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    border-radius: var(--xrounded);
    padding: 2rem 0;
    height: 27rem;
}

.card-title {
    color: var(--accent);
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 0 0;
}

.card-subtitle {
    font-weight: 700;
    color: var(--back);
    font-size: 1.2rem;
    margin: 0 0 0 0;
}

.example-card img {
    width: 80%;
    border-radius: var(--rounded);
}

.card-cost {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--accent);
}

.card-deposit {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0rem 0 0 0;
    color: var(--back);
}

.requirements {
    max-width: var(--block-width);
    color: var(--back);
}

.requirements-title {
    font-size: 2.4rem;
    font-weight: 900;
}

.requirements-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.requirements-container img {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 40%;
}

.requirements-info {
    padding-right: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1.5rem;
}

.requirements-info div p {
    font-weight: 700;
    font-size: 1.6rem;
}

.requirements-info div ul li {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    width: 90%;
}

.check {
    list-style: url(../../images/icons/checks_fill.svg);
}

.checkdouble {
    list-style: url(../../images/icons/checksdouble_fill.svg);
}

ul li ul li {
    margin-top: 0.5rem;
}

.requirements-info div ul {
    padding-left: 1.6rem;
}

.requirements-conclusion {
    font-size: 1.2rem;
    font-weight: 700;
}

.transport {
    max-width: var(--block-width);
}

.transport-title {
    font-size: 2.4rem;
    font-weight: 900;
    padding-bottom: 2rem;
}

.transport-kinds {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
}

.transport-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.transport-card img {
    border-radius: 15px;
}

.transport-card p {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--back);
}

.lead-form {
    max-width: var(--block-width);
    box-sizing: border-box;
    height: 100%;
    margin: 6.5rem auto;
    background-color: var(--back);
    border-radius: var(--rounded);
    padding: 2rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
}

.lead-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    margin: 2rem 0;
}

.lead-wrapper div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 0.5rem;
    position: relative;
    height: 100%;
    justify-content: space-between;
}

.lead-form legend {
    text-align: center;
    font-size: 2.4rem;
    color: var(--accent);
    font-weight: 700;
}

.faq {
    max-width: 76rem;
    min-height: 50vh;
    box-sizing: border-box;
}

.faq-title {
    color: var(--back);
    font-weight: 700;
    font-size: 2.4rem;
}

.accordion {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1rem;
}

.accordion-item {
    border-radius: var(--rounded);
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.accordion-body {
    display: none;
    padding: 1rem 2rem;
    overflow: hidden;
    flex-direction: column;
}

.accordion-title {
    font-weight: 600;
    color: #232323;
    position: relative;
    padding: 1rem;
    border-radius: var(--rounded);
}

.accordion-title:hover {
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
    cursor: pointer;
}

.accordion-title::after {
    display: inline-block;
    content: url(../../images/down_fill.svg);
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.accordion-item.acc-slideOut .accordion-body {
    display: flex !important;
}

.accordion-item.acc-slideOut .accordion-title {
    -webkit-box-shadow: var(--gray-shadow);
    box-shadow: var(--gray-shadow);
}

.contacts {
    width: var(--block-width);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contacts-about {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 25rem;
    margin: 2rem 0;
}

.contacts-info {
    width: 40%;
    height: 100%;
    box-shadow: var(--gray-shadow);
    border-radius: var(--rounded);
    padding: 0 2rem;
    font-size: 1.5rem;
}

.contacts-title {
    font-size: 2rem;
}

.contacts-map {
    width: 60%;
    height: 100%;
    border-radius: var(--rounded);
}

footer {
    background-color: var(--back);
    height: 100%;
    width: 100%;
    margin-top: 6.5rem;
    color: var(--white);
}

.footer-wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: var(--block-width);
    margin: 0 auto;
    padding: 2rem;
}

.footer-wrap hr {
    width: 100%;
    background-color: var(--gray);
    height: 1px;
    grid-column: span 3 / span 3;
}

.footer-wrap p:last-child {
    grid-column: span 3 / span 3;
    font-size: 1rem;
    color: var(--gray);
    font-weight: 500;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-contacts a {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 0;
    color: var(--accent);
}

.footer-address {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.footer-buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-left: 8rem;
    gap: 1rem;
}

.footer-links {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.footer-links-3 {
    padding-left: 8rem;
}

.footer-links a {
    text-decoration: none;
    color: var(--white);
    padding: 0.8rem 0;
}

.subtext {
    color: var(--gray);
    font-size: 1rem;
    margin-top: 0;
}

/* Стилизация полосы прокрутки */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    /* Цвет ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--back);
    /* Цвет ползунка при наведении курсора */
}

::-webkit-scrollbar-track {
    background-color: #eee;
    /* Цвет фона полосы прокрутки */
}

@media (max-width:640px) {
    header nav {
        display: flex;
        position: absolute;
        justify-content: space-between;
        flex-direction: column;
        height: 65dvh;
        background-color: var(--white);
        width: 75vw;
        right: 0;
        top: 0;
        border-radius: 0 0 0 var(--xrounded);
        box-shadow: var(--gray-shadow);
        padding: 0 1.5rem;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 300ms ease-in;
        padding-bottom: 5dvh;
    }

    .mobile-header .burger-button {
        transition: transform 450ms ease-out;
        transform: translateX(0);
    }

    body.menu-active .mobile-header .burger-button {
        transform: translateX(100%);
    }

    body.menu-active header::before {
        content: "";
        position: absolute;
        background-color: var(--back);
        width: 100vw;
        height: 100dvh;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 99;
    }

    header nav .burger-button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 5rem;
        align-items: center;
    }

    header nav .burger-button img {
        width: 2rem;
    }

    header a {
        color: var(--back);
    }

    body.menu-active nav {
        transform: translateX(0);
    }

    header {
        background: none;
        margin: 0;
        border-radius: 0;
        height: 5rem;
        top: 0;
        left: 0;
        transform: none;
        align-items: center;
        padding: 0 1.5rem;
        background-color: var(--white);
        z-index: 97
    }

    .login-btn {
        display: block;
    }

    .burger-button {
        display: flex;
        background: none;
        border: none;
    }

    .burger-button img {
        width: 2.5rem;
    }

    .mobile-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    main {
        box-sizing: border-box;
        max-width: 100vw;
        overflow: hidden;
        padding: 0 1.5rem;
    }

    .intro {
        width: 100%;
        flex-direction: column;
        margin-top: 8rem;
    }

    .intro-img {
        width: 25rem;
        margin-left: 3rem;
    }

    .intro-text {
        width: 100%;
    }

    .intro-header {
        font-size: 2.7rem;
    }

    .intro-subheader {
        font-size: 1.4rem;
        padding-top: 1.5rem;
    }

    .intro-form-wrap {
        width: 100%;
        margin-top: -6rem;
    }

    .intro-form {
        padding: 1rem;
        border-radius: var(--rounded);
    }

    .intro-form-legend {
        font-size: 1.8rem;
    }

    .intro-loan-label {
        font-size: 1.2rem;
    }

    .base-label {
        font-size: 1.2rem;
        text-align: left;
        max-width: 100%;
    }

    .intro-form button {
        width: 80%;
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }

    .mw-50 {
        width: 50%;
    }

    .advantages {
        width: 100%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .advantages div:last-child {
        grid-column: span 1 / span 1;
    }

    .form-request {
        width: 100vw;
        padding: 0;
        position: relative;
        margin: 6rem -1.5rem;
    }

    .request {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .mb-text-center {
        text-align: center;
    }

    .form-agreement {
        margin-top: 1rem;
    }

    .form-agree {
        width: 90%;
    }

    input[type="checkbox"]+label::before {
        width: 65px;
        height: 40px;
        margin: auto 1rem;
        border-radius: 10px;
    }

    .request-legend {
        display: block;
        color: var(--accent);
        font-size: 1.8rem;
        text-align: center;
        font-weight: 700;
    }

    input[type="checkbox"]:checked+label::before {
        box-shadow: var(--white) inset 0 0 0 10px;
    }

    .form-submit {
        width: 90%;
        margin: 0 auto;
    }

    .examples {
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        width: 100%;
        margin-right: -1.5rem;
    }

    .examples::-webkit-scrollbar {
        display: none;
    }

    .example-card {
        min-width: 18rem;
        margin: 0.5rem 0;
        padding: 2rem 1rem;
        justify-content: flex-start;
        height: 24rem;
    }

    .example-card img {
        width: 100%;
    }

    .card-info {
        margin-top: auto;
    }

    .requirements {
        width: 100%;
    }

    .requirements-info {
        padding-right: 0;
    }

    .requirements-container img {
        display: none;
    }

    .transport {
        width: 100%;
    }

    .transport-title {
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 0.9;
    }

    .transport-kinds {
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .transport-card p {
        font-size: 1.4rem;
    }

    .lead-form {
        width: 100vw;
        position: relative;
        margin-left: -1.5rem;
        padding: 1rem 0;
        row-gap: 1rem;
    }

    .lead-form legend {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .lead-wrapper {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

    .faq {
        width: 100%;
    }

    .faq-title {
        font-size: 2rem;
    }

    .accordion-title {
        font-size: 1.3rem;
        padding-right: 3rem;
        overflow-wrap: break-word;
    }

    .accordion-body {
        font-size: 1.3rem;
    }
}